
html {
    margin: 0;
    padding: 0;
}    
body {
    font-size: 14px;
    font-family: "Poppins-Regular";
    color: rgb(0, 0, 0);
}
a, a:hover {
    text-decoration: none;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
}
/*HEADER---------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.header {
    height: 850px;
	background-image: -o-linear-gradient(left, rgba(38, 39, 50, 0.85), rgba(38, 39, 50, 0.85)), url('../img/header.jpg');
	background-image: -webkit-gradient(linear, left top, right top, from(rgba(38, 39, 50, 0.85)), to(rgba(38, 39, 50, 0.85))), url('../img/header.jpg');
	background-image: linear-gradient(to right, rgba(38, 39, 50, 0.85), rgba(38, 39, 50, 0.85)), url('../img/header.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    font-family: "Poppins-Medium";
}
.menu {
    position: fixed;
    height: 75px;
    background-color: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: end;
        align-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    /* position: sticky; */
    z-index: 1000;
    width: 100%;
}
.inner-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.list-menu {
    padding: 0;
    margin: 0;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.item-menu {
    padding: 0 0 0 1.5em;
    text-transform: capitalize;
}
.link-menu {
    color: #272727;
}
.link-menu:hover {
    color: #a5a4a4;
}
.header-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    padding-top: 13em;
}
h1 {
    font-family: "LibreBaskerville-Regular";
    color: #ffffff;
    font-size: 4em;
    width: 60%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
}
.main-button {
    background-color: #fc5f45;
    border-radius: 50px;
    border: #fc5f45 solid 1px;
    font-family: "Poppins-Medium";
    padding: 0.8em 3em;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 1.2em;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
}
.main-button:hover {
    background-color: transparent;
    color: #ffffff;
}
.main-button-dark:hover {
    color: #000000;
}
.header-button-mrg {
    margin: 3em 0;
}
.features {
    text-transform: uppercase;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    font-size: 1.2em;
    font-family: "Poppins-Medium";
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.features-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-preferred-size: 250px;
        flex-basis: 250px;
}
.features-item img {
    margin-bottom: 2em;
}
.features-green {
    color: #38c695;
}
.features-violet {
    color: #b27cf5;
}
.features-orange {
    color: #feb960;
}
.mobile-icon {
    display: none;
}
.mobile-menu {
    display: none;
}
/*ABOUT-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.about,
.focus,
.portfolio,
.team,
.stat,
.select,
.testimonials,
.contact {
    padding: 10em 0;
}
h3 {
    font-family: "LibreBaskerville-Bold";
    font-size: 3em;
    padding-bottom: 0.5em;
    text-transform: capitalize;
}
.about-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.about-img {
    width: 100%;
}
.col-left {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
}
.col-right {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
}
.right-about-block {
    -webkit-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
    padding: 7em 5em;
    position: relative;
}
.right-about-block p {
    line-height: 2em;
}
.color-line {
    height: 3px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.color-item {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
}
.color-item:nth-child(1) {
    background-color: #fc5f45;
}
.color-item:nth-child(2) {
    background-color: #38c695;
}
.color-item:nth-child(3) {
    background-color: #b27cf5;
}
.color-item:nth-child(4) {
    background-color: #feb960;
}
/*FOCUS-----------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.focus,
.team {
    background-color: #f7f7f7;
    text-align: center;
}
.focus-content {
    padding: 4em 0 0 0;
}
.focus-item {
    -webkit-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
    padding: 4em 1em;
    background-color: #ffffff;
    height: 100%;
}
.focus-img {
}
.focus-h4 {
    padding: 1em 0;
    text-transform: capitalize;
}
.focus-item-content {
    line-height: 2em;
}
.focus-item-red {
    border-bottom: #fc5f45 solid 3px;
}
.focus-item-green {
    border-bottom: #38c695 solid 3px;
}
.focus-item-violet {
    border-bottom: #b27cf5 solid 3px;
}
.focus-item-orange {
    border-bottom: #feb960 solid 3px;
}
/*CUSTOM----------------------------------------------------------------------------------------------------------------------------------------*/
.custom {
    height: 500px;
	background-image: -o-linear-gradient(left, rgba(38, 39, 50, 0.85), rgba(38, 39, 50, 0.85)), url('../img/screen1.jpg');
	background-image: -webkit-gradient(linear, left top, right top, from(rgba(38, 39, 50, 0.85)), to(rgba(38, 39, 50, 0.85))), url('../img/screen1.jpg');
	background-image: linear-gradient(to right, rgba(38, 39, 50, 0.85), rgba(38, 39, 50, 0.85)), url('../img/screen1.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.inner-custom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #ffffff;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
/*PORTFOLIO-------------------------------------------------------------------------------------------------------------------------------------*/
.portfolio {
    text-align: center;
}
.inner-portfolio {
    padding: 4em 0 0 0;
}
.portfolio-item {
    display: block;
    position: relative;
    overflow: hidden;
}
.portfolio-item img {
    width: 100%;
}
.portfolio-item-desc {
    position: absolute;
    bottom: -70px;
    background-color: #fff;
    left: 0;
    right: 0;
    height: 70px;
}
.portfolio-color-line {
    height: 3px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.portfolio-color-item {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
}
.portfolio-color-item:nth-child(1) {
    background-color: #fc5f45;
}
.portfolio-color-item:nth-child(2) {
    background-color: #38c695;
}
.portfolio-color-item:nth-child(3) {
    background-color: #b27cf5;
}
.portfolio-color-item:nth-child(4) {
    background-color: #feb960;
}
.portfolio-h4 {
    line-height: 70px;
    color:#000000;
    font-family: "Poppins-Medium";
}
.portfolio-item:hover .portfolio-item-desc {
    bottom: 0;
    -webkit-transition: linear all 0.2s;
    -o-transition: linear all 0.2s;
    transition: linear all 0.2s;
}
/*TEAM-------------------------------------------------------------------------------------------------------------------------------*/
.owl-carousel {
    padding: 4em 0 0 0;
}
.team-item {
    background-color: #ffffff;
    padding: 5px;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
}
.team-item img {
    width: 100%;
}
.team-item h4 {
    font-family: "Poppins-Medium";
    padding: 0.5em 0;
    margin: 0;
    color: #fc5f45;
}
.team-item span {
    padding: 0 0 1em 0;
    display: inline-block;
}
.team-item:nth-child(1) {
    border-bottom: 3px solid #fc5f45;
}
.team-item:nth-child(2) {
    border-bottom: 3px solid #38c695;
}
.team-item:nth-child(3) {
    border-bottom: 3px solid #b27cf5;
}
.team-item:nth-child(4) {
    border-bottom: 3px solid #feb960;
}
/*STAT-------------------------------------------------------------------------------------------------------------------------------------------*/
.stat {
	background-image: -o-linear-gradient(left, rgba(38, 39, 50, 0.85), rgba(38, 39, 50, 0.85)), url('../img/stat.jpg');
	background-image: -webkit-gradient(linear, left top, right top, from(rgba(38, 39, 50, 0.85)), to(rgba(38, 39, 50, 0.85))), url('../img/stat.jpg');
	background-image: linear-gradient(to right, rgba(38, 39, 50, 0.85), rgba(38, 39, 50, 0.85)), url('../img/stat.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    text-align: center;
    color:#ffffff;
}
.stat-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.stat-item-value {
    display: inline-block;
    padding: 1em 0 0.5em 0;
    font-size: 2em;
    font-family: "Poppins-Medium";
}
.stat-item-text {
    font-size: 1.2em;
    padding: 0 0 2em 0;
    color: #adabab;
}
/*SELECT---------------------------------------------------------------------------------------------------------------------------------------------*/
.select {
    text-align: center;
}
.select-list {
    padding: 4em 0 0 0;
}
.select-item {
    padding: 2em 2em;
}
.select-item-head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 2em;
}
.select-icon {
    padding: 0px 1em 0 0;
}
.select-head-col {
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-family: "Poppins-Medium";
    font-size: 1.3em;
}
.select-item-content {
    text-align: left;
    line-height: 2em;
}
.select-start {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 7em 0 0 0;
}
.select-start-lead {
    padding: 0 2em;
    font-size: 2em;
    font-family: "Poppins-Medium";
}
.select-start-link {
}
/*TESTIMONIALS-----------------------------------------------------------------------------------------------------------------------------------*/
.testimonials {
    background-color: #3f4049;
    color: #ffffff;
    text-align: center;
}
.testimonials-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.testimonials-wrapp::before {
    content: url('../img/testimonial-before.png');
    position: absolute;
    top: 0;
    left: 2em;
}
.testimonials-img {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
    background-color: #a2a2a2;
    padding: 7px;
}
.testimonials-wrapp {
    -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
    background-color: #ffffff;
    color: #000000;
    padding: 4em 4em;
    text-align: left;
    border-bottom: solid 3px #fc5f45;
    position: relative;
}
.testimonials-content {
    line-height: 2em;
}
.testimonials-name {
    font-size: 1.5em;
    font-family: "Poppins-Medium";
}
.testimonials-company {
    color: #fc5f45;
}
.owl-dots {
    position: absolute;
    right: 0;
    bottom: 0em;
}
.owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next, .owl-carousel button.owl-dot {
    background: none;
    color: inherit;
    border: none;
    padding: 0 !important;
    font: inherit;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    margin-left: 1em;
    border: 1px solid #ffffff;
}
button.owl-dot.active::before {
    content: '';
    width: 10px;
    height: 10px;
    position: absolute;
    background-color: #fc5f45;
    border-radius: 50%;
    right: 3px;
    top: 3px;
}
button.owl-dot.active {
    border: 1px solid #fc5f45;
    position: relative;
}
/*CONTACT----------------------------------------------------------------------------------------------------------------------------------------------------*/
.contact {
    background-color: #cccccc;
    color: #000000;
    text-align: center;
}
.form-wrapp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.contact-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 20px 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 60%;        
}

.contact-form input, .contact-form textarea {
    -ms-flex-preferred-size: calc(50% - 10px);
    flex-basis: calc(50% - 20px);
    margin: 10px;
    height: 60px;
    background-color: #ffffff;
    border: none;
    font-size: 14px;
    color: #333;
    padding: 0 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.contact-form textarea {
    padding: 20px;
    -ms-flex-preferred-size: calc(100% - 10px);
    flex-basis: calc(100% - 10px);
    height: 120px;
}

.contact-form input[type=submit] {
    background-color: #fc5f45;
    border-radius: 50px;
    border: #fc5f45 solid 1px;
    font-family: "Poppins-Medium";
    padding: 0.8em 3em;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 1.2em;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
}

.contact-form input[type=submit]:hover {
    background-color: transparent;
    color: #000000;
}
/*FOOTER-------------------------------------------------------------------------------------------------------------------------------------------------------*/
.footer {
    background-color: #cccccc;
    color: #000000;
}
.inner-footer {
    background-color: #3f4049;
    padding: 4em 0;
    position: relative;
}
.footer-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.footer-item-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    height: 100%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    font-size: 1.3em;
    color: #ffffff;
}
.footer-h4 {
    padding: 0 0 1em 0;
}
.footer-item p {
    margin: 0;
    padding: 0;
}
.green-style h4 {
    color: #38c695;
}
.violet-style h4 {
    color: #b27cf5;
}
.orange-style h4 {
    color: #feb960;
}
.social a{
    padding: 0 0.5em 0 0;
}